.image{
    height: 400px;
    width: 500px;
    object-fit: cover;
    border-radius: 5px;
}
.auction-detail-container{
    padding: 30px;
    
}
.starter{
    display: flex;
    flex-direction: column;
}
.start{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.auction-detail{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
}
.auction-detail h2{
    font-size: 2rem;
    margin-bottom: 10px;
}
.start-price-container{
}
.start-price {
    font-size: 1.25rem;
    margin-top: -40px;
}
.description-container{
    margin-top: 10px;
    height: 200px;
    width: 500px;
    color: white;
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
    
}
.description-container h3,p{
}
.add{
    height: 50px;
    width: 250px;
}
.bid-input{
    height: 20px;
    width: 250px;
    margin-bottom: 5px;
}
.title-container{
    margin-top: -20px;
}

.bid-button{
    height: 200px;
    width: 360px;
    background-color: rgb(36, 36, 36);
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}
.auction-end{
    height: 90px;
    width: 360px;
    background-color: rgb(36, 36, 36);
    display: flex;  
    flex-direction: column;
    border-radius: 5px;


}
.line-1{
    
    width: 340px;
    border: 0.5px solid white;
    margin-bottom: 20px;
}

.bidhistory-text{
    width: 100%;
    height: 60px;
    background-color: rgb(36, 36, 36);

}
.bids-container{
    display: flex;
    flex-direction: column;
   
}
.bids-detail{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 360px;
    background-color: rgb(36, 36, 36);
    overflow: scroll;
}

.bid-item {
    margin-bottom: 10px;
}


.bid-Name,
.bid-history-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.bidgivare {
    font-weight: bold;
}

.summa {
    margin-right: -35px; 
}
.bid-history-container{
    margin-top: 10px;
}
.bid-line{
    width: 100%;
    border: 0.5px solid white;
margin-top: -10px;
}
